


.oi1{
    display:flex;
    justify-content: space-between
}
.oi2{
    display:flex;
    justify-content:center
}
.oi3{
    display:flex;
    justify-content:space-between
}
.oi4{
    display:flex;
    justify-content: center
}
.oi{
    

    background-color: rgb(15, 174, 228);
}
.o2{
    
    background-color: rgb(15, 174, 228);
}
.o3{
    
    background-color: rgb(15, 174, 228);
}
.o4{
    
    background-color:  rgb(15, 174, 228);
}
.o5{
    
    background-color: rgb(15, 174, 228);
}
.o6{
    
    background-color: rgb(15, 174, 228);
    
}
.header{
    display: flex;
    background-color:gold;
    justify-content: center;
    color: red;
    text-align: center;
    font-size: large;
}
.links{
    text-align: center;
}
